body {
  background-color: rgb(249, 212, 237);
  text-align: center;
  color: rgb(130, 143, 240);
}


#myCanvas {
  background-image: url("https://images.pexels.com/photos/12314823/pexels-photo-12314823.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: 400px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

